 <!-- About Section -->
    <section  id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p class="text-center">We are representatives of various companies based in the german speaking part of europe. All of us are heavy users of  <a href="https://jazz.net">IBM Rational Jazz</a> and we want to share our knowledge, experience and source code contributions with other Jazz users.</p>
                </div>
                <!--<div class="col-lg-4">
                   <p> </p>
                </div>-->

            </div>
            <div class="col-lg-12 text-center">
                <span class="star-primary" />
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <!-- other company goes here -->
                </div>
                <div class="col-sm-4">
                    <img src="img/members/siemens.jpg" class= "img-responsive" alt="Siemens - Ingenuity for life">
                </div>
            </div>
        </div>
    </section>