 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>We are representatives of various companies based in the german speaking part of europe. All of us are heavy users of  <a href="https://jazz.net">IBM Rational JAzz</a> and we want to share our knowledge, experience and source code contributions with other Jazz users.</p>
                </div>
                <!-- <div class="col-lg-4">
                   <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect star<ting point! </p>
                </div>-->
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jazz-community" class="btn btn-lg btn-outline">
                        <i class="fa"></i> Join us on GitHub
                    </a>
                </div>
            </div>
        </div>
    </section>