 <!-- About Section -->
    <section  id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p class="text-center">Founded in May 2017 by Siemens BT, we wanted to share our knowledge and work with other companies and individuals that are interested in extending IBM Jazz. We believe that an open minded open source community is the best way to address all the needs of users and organizations that may not be covered quickly enough as part of the Jazz products. We want to encourage you to join the community and help us to make Jazz even better! </p>
                </div>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="https://github.com/jazz-community/welcome" target="_blank" class="btn btn-primary btn-lg">
                    <i class="fa"></i> Learn More
                </a>
            </div>
			<div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Members</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <a href="https://www.rohde-schwarz.com" target="_blank"><img src="img/members/rohde-schwarz.png" class= "img-responsive" alt="Rohde & Schwarz"></a>
				</div>
                <div class="col-sm-4">
                    <a href="https://siemens.com" target="_blank"><img src="img/members/siemens.png" class= "img-responsive" alt="Siemens - Ingenuity for life"></a>
                </div>
                <div class="col-sm-4">
                    <a href="https://ibm.com" target="_blank"><img src="img/members/ibm.png" class= "img-responsive" alt="IBM"></a>
                </div>				
            </div>
        </div>
    </section>
