<section class="success" id="events">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Events</h2>
				<hr class="star-light">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<p>May 9th - Community Dinner in Munich</p>
        <p>May 10th - Jazz User Conforence in Munich</p>
			</div>
      
      <!--<div class="col-lg-8 col-lg-offset-2 text-center">
        <table>
          <thead>
            <tr>
              <th>Date</th>
              <th>What</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Tuesday, May 9th</td>
              <td>Community Dinner in Munich</td>
            </tr>
            <tr>
              <td>Wednesday, May 10th</td>
              <td>Jazz User Conforence in Munich</td>
            </tr>
          </tbody>
        </table>
			</div>-->
		</div>
	</div>
</section>
