<section class="success" id="events">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Events</h2>
				<hr class="star-light">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<p>November 23rd 2017, 10 a.m. CET - Feedback Discussion from IBM CE IoT Summit '17</p>
				<p>December 4th 2017, 2:30 p.m. CET - JRS Experience and Troubles, by BOSCH</p>
				<p>March 6th 2018 (Save the date) - 1st Jazz Community Hackaton</p>
				<p>March 7th 2018 (Save the date) - Jazz User Conference</p>
			</div>
		</div>
            	<div class="col-lg-8 col-lg-offset-2 text-center">
                	<a href="https://github.com/jazz-community/welcome/blob/master/EVENTS.md" target="_blank" class="btn btn-outline btn-lg">
                    		<i class="fa"></i> View All Events
                	</a>
            	</div>		
	</div>
</section>
